<h1>Welcome #index</h1>
<p>Добро пожаловать на страницу привествия.</p>
<ul>
    <li><%= link_to 'Users', user_index_path %></li>
    <li><%= link_to 'Subscribtions', c_subscribe_index_path %></li>
</ul>