<!DOCTYPE html>
<html>
<head>
  <title>Fastway1</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application', 'welcome' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
